In [336]:
import finnhub
import time

7.0

In [337]:
fnhb = finnhub.Client(api_key='c91rjeaad3if9n5lpj1g')

In [338]:
time_end = int(time.time())
time_start = int((time_end) - 2592000*15)

In [339]:
import pandas as pd
fnhb_data = fnhb.stock_candles('NNDM', '1',time_start, time_end)
data = pd.DataFrame.from_dict(fnhb_data)

In [340]:
data.tail()

         c     h     l     o   s           t     v
7781  3.56  3.56  3.56  3.56  ok  1649110620   200
7782  3.56  3.56  3.56  3.56  ok  1649114460   100
7783  3.56  3.56  3.56  3.56  ok  1649115480  1151
7784  3.56  3.56  3.56  3.56  ok  1649116080   300
7785  3.58  3.58  3.58  3.58  ok  1649116440   180

In [341]:
list(data)

['c', 'h', 'l', 'o', 's', 't', 'v']

In [ ]:
fnhb.company_peers('NNDM')